* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$hover-color: rgba(243, 245, 254, 1);
$section-bg-color: rgb(243, 245, 254);
$section-txt-color: rgb(104, 103, 129);
$job-border: rgb(228, 228, 237);
$company-color: #686781;
$button-color: #0160fe;
$white-color: #fff;
$gray-color: gray;
$blue-color: blue;
$black-color: black;
$base-font-size: 16px;

@mixin flex($direction, $align-items, $justify-content) {
  display: flex;
  flex-direction: $direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin button {
  cursor: pointer;
  color: $button-color;
  background-color: $white-color;
  font-size: $base-font-size;
  height: 50px;
  padding: 10px 18px;
  border: 2px solid $button-color;
  border-radius: 20px;
  width: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  &:hover {
    color: $white-color;
    background-color: $button-color;
  }
}
