* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$hoverColor: rgba(243, 245, 254, 1);
$sectionBgColor: rgb(243, 245, 254);
$sectionTxtColor: rgb(104, 103, 129);
$jobBorder: rgb(228, 228, 237);
$companycolor: #686781;

@mixin flex($direction, $align-items, $justify-content) {
  display: flex;
  flex-direction: $direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin button {
  cursor: pointer;
  color: #0160fe;
  background-color: white;
  font-size: 16px;
  height: 50px;
  padding: 10px 18px;
  border: 2px solid #0160fe;
  border-radius: 20px;
  width: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  &:hover {
    color: white;
    background-color: #0160fe;
  }
}
