.dropdown-item-jobs {
  display: flex;
  margin-bottom: 5px;
  padding: 10px;

  &:hover {
    background-color: $hover-color;
  }

  &-right {
    @include flex(column, none, none);
    padding-left: 10px;

    .tag {
      padding-bottom: 5px;
      font-weight: bold;
    }

    .elements-div {
      display: flex;
      flex-wrap: wrap;
      line-height: 25px;
    }

    .items {
      margin-right: 7px;
      font-size: $base-font-size;

      cursor: pointer;
      &:hover {
        color: $blue-color;
      }

      &:last-child {
        span {
          display: none;
        }
      }
    }
  }
}

.dropdown-item-companies {
  @include flex(none, center, none);

  margin-bottom: 5px;
  padding: 10px;
  cursor: pointer;

  &:hover {
    background-color: $hover-color;
  }

  .companies {
    padding-left: 10px;
  }
}
