.burger {
  height: 100vh;

  &_main {
    @include flex(column, center, none);
    height: 100%;

    &_top {
      height: 90vh;
      @include flex(column, none, none);
      padding: 30px;

      h3 {
        margin-bottom: 30px;
      }

      &_logo {
        @include flex(none, center, space-between);
        margin-bottom: 20px;

        img {
          max-width: 100%;
          height: 50px;
        }

        span {
          font-size: 20px;
          cursor: pointer;
          color: $black-color;
        }
      }

      &_options {
        @include flex(column, none, none);
      }
    }

    &_bottom {
      @include flex(column, center, center);
      button {
        @include button;
      }
    }
  }
}

.header {
  @include flex(none, center, space-between);
  height: 98px;
  padding-left: 24px;
  padding-right: 24px;

  img {
    max-width: 100%;
    height: 70px;
  }

  &_right {
    @include flex(none, center, none);

    button {
      @include button;
    }

    &_two {
      display: none;
      padding-left: 16px;
      span {
        cursor: pointer;
        color: black;
        font-size: 20px;
      }

      @media (max-width: 768px) {
        display: flex;
      }
    }
  }

  &_middle {
    @include flex(none, center, space-between);
    height: 100%;

    @media (max-width: 1024px) {
      @include flex(none, center, flex-start);
      width: 100%;
      margin-left: 10px;
    }

    @media (max-width: 768px) {
      display: none;
    }

    &_relative {
      position: relative;
    }

    &_items {
      @include flex(none, center, center);
      height: 40px;
      margin-right: 25px;
      &:last-child {
        margin-right: 0px;
      }
      cursor: pointer;

      &:hover {
        span {
          svg {
            color: gray;
          }
        }
      }

      p {
        font-size: $base-font-size;
        padding-right: 7px;
        &:hover {
          color: $blue-color;
        }
      }

      &_dropdowns {
        @include flex(column, none, none);
        position: absolute;
        width: 450px;
        top: 40px;
        background-color: white;
        z-index: 10;
        padding: 20px;
        border: 1px solid $gray-color;
        border-radius: 20px;
        cursor: default;
      }
    }
  }
}
