.jobParent {
  @include flex(column, center, none);
  background-color: $section-bg-color;

  &_top {
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;

    &_div {
      @include flex(row, center, center);

      p {
        padding-left: 5px;
      }
    }

    h2 {
      padding-bottom: 16px;
      font-size: 36px;
    }

    span {
      @include flex(row, center, center);
      margin-top: 6px;
    }
  }

  &_bottom {
    display: flex;
    max-width: 600px;
    width: 60%;
    margin-bottom: 60px;

    &_item {
      @include flex(column, center, center);
      flex-grow: 1;
      width: 33%;

      &_top {
        @include flex(row, center, center);
        padding-bottom: 5px;
        span {
          padding-left: 5px;
        }
      }
    }
  }
}
